[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"
slack-bolt = "*"
notion = {editable = true,git = "https://github.com/antiusio/notion.git"}

[requires]
python_version = "3.7"
