[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
slackclient = "*"
slackeventsapi = "*"
flask = "*"
pytest = "*"
pytest-cov = "*"
notion = {editable = true,git = "https://github.com/cgamio/notion-py.git",ref = "markdown-dashes"}

[requires]
python_version = "3.7"
