[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"
slack-bolt = "*"
notion = {git = "https://github.com/julrach/notion-py"}
blockkit = "*"

[requires]
python_version = "3.7"
